


@use '../custom' as *;

.intro-section{
	background-color: $primary;
	padding: 10rem 0 2rem 0;
	width: 100%;
	height: 100%;
}
.intros{
	font-family: "Poppins", sans-serif;
	h1{
    	font-size: 3.5rem;
    	color: $white;
    	padding-bottom: 1rem;
	}
	p{
		font-size: 1.5rem;
		color: $white;
		line-height: 1.3;
		padding-bottom: 1rem;
	}
	img{
		width: 300px;
		@media (max-width: 768px) {
			padding-top: 2rem;
		}
	}
}