@use '../custom' as *;

.stats-img {
  background: url(../../images/dog-care.png) no-repeat;
  background-size: cover !important;
  max-height: 100%;
  position: relative;

  .img-overlay {
    background-color: rgba($primary, 0.85);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .stats-box {
	padding: 4rem 0;
    color: $white;
    font-family: "Poppins", sans-serif;
    position: relative;
    z-index: 1;
    h3 {
      font-weight: 600;
    }
  }
}

@include media-breakpoint-up(lg) {
	.stats{
	}
	.stats-box{
    	margin: 5rem 0;
	}
}

@include media-breakpoint-up(sm) {
	.stats-img{
		background-position: center;
	}
}