


@use '../components/mixins' as *;
@use '../custom' as *;

.text-section {
  padding-top: 6rem;
  padding-bottom: 5rem;

  .text-info {
    font-family: "Poppins", sans-serif;

    h1 {
      font-size: 2.5rem;
      color: #313243;
      padding-bottom: 1rem;
      max-width: 450px;
    }

    p {
      font-size: 1.4rem;
      color: #313243;
      line-height: 1.3;
      width: 450px;
    }

  }

  .text-img {
  position: relative;
  width: 70%;
  max-height: 23.5rem;
  margin-bottom: 1.2rem;
  img{
    width: 100%;
  }
  &::before{
      content: "";
      width: 180px;
      height: 160px;
      background-color: $primary;
      position: absolute;
      z-index: -1;
      left: -1.8rem;
      bottom: -1.6rem;
    }
  }
  .img-overlay{
    background-color: rgba($primary, 0.65);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .video-box{
    a{
      @include absoluteCenter;
      span{
        i{
          font-size: 4rem;
          color: $white;
        }
      }
    }
  }   
}
  
  @media (max-width: 991.98px) and (min-width: 768px) {
    .text-info {
      h1 {
        font-size: 2rem;
        max-width: 350px;
      }

      p {
        font-size: 1.2rem;
        max-width: 350px;
      }
    }

    .text-img {
	    img {
	      max-height: 280px;
	    }
	    &::before{
	      height: 120px;
	      width: 140px;
	      left: 1.2rem;
        bottom: -1.2rem;
	    }
    }
  }
  @media (max-width: 540px) {
  	.text-img {
      margin-top: 1rem;
	  	img::before {
	     height: 150px;
	      width: 170px;
	      left: 1.2rem;
	      bottom: -1.4rem;
	    }
  	}
  }

  @media (min-width: 541px) and (max-width: 767px) {
    .text-img {
      margin-top: 1rem;

    }
  }
 
  @media (max-width: 1200px) and (min-width: 992px) {
  	.text-img {
	  	img::before{
		    height: 150px;
		    width: 170px;
		    left: 1rem;
		    bottom: -1.5rem;
	    }
  	}
  }



